.owl-theme .owl-controls{margin-top:10px;text-align:center;}
.owl-theme .owl-controls .owl-buttons div{color:#FFF;display:inline-block;margin:5px;padding:3px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;background:#869791;opacity:0.5;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:1;text-decoration:none;}
.owl-theme .owl-controls .owl-page{display:inline-block;}
.owl-theme .owl-controls .owl-page span{display:block;width:14px;height:14px;margin:5px 7px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#bdbdbd;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{background:#29547c;}
.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.owl-item.loading{min-height:150px;}
#owl-demo .item img{display:block;width:auto !important;height:auto;margin:0 auto;}
#owl-demo .item{box-sizing:border-box;padding:0 10px;}