@font-face{font-family:'FontAwesome';src:url('../fonts/fontawesome-webfont.eot?v=4.7.0');src:url('../fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');font-weight:normal;font-style:normal;}
.owl-prev, .owl-next{display:inline-block;font:normal normal normal 14px/1 FontAwesome;font-size:inherit;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale;}
.owl-theme .owl-controls{margin-top:10px;text-align:center;}
.owl-theme .owl-controls .owl-buttons div{color: #244aa5;display:inline-block;padding: 5px;font-size: 30px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;/* background: #869791; */opacity:0.5;}
.owl-theme .owl-controls.clickable .owl-buttons div:hover{opacity:1;text-decoration:none;}
.owl-theme .owl-controls .owl-page{display:inline-block;}
.owl-theme .owl-controls .owl-page span{display:block;width:14px;height:14px;margin:5px 7px;-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;background:#bdbdbd;}
.owl-theme .owl-controls .owl-page.active span,
.owl-theme .owl-controls.clickable .owl-page:hover span{background:#29547c;}
.owl-theme .owl-controls .owl-page span.owl-numbers{height:auto;width:auto;color:#FFF;padding:2px 10px;font-size:12px;-webkit-border-radius:30px;-moz-border-radius:30px;border-radius:30px;}
.owl-item.loading{min-height:150px;}
.owl-demo .item img{box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);display:block;width:auto !important;height:auto;margin:0 auto;}
.owl-demo .item{box-sizing:border-box;padding:0 10px;}
.owl-demo li.item{width: auto; margin: 0 auto;}
.owl-prev, .owl-next {
    position: absolute;
    top: 80px;
}

.owl-prev {
    left: -25px;
}

.owl-next {
    right: -25px;
}

.owl-prev:before{
	content: "\f053";
}

.owl-next:before{
	content: "\f054";
}

@media only screen and (max-width: 765px){

	.owl-prev, .owl-next {
	    top: 120px;
	}

	.owl-prev {
    	left: -5px;
 }

	.owl-next {
	    right: -6px;
	}

}