/* =============================== HEADER =============================== */

header { background-color: var(--secondary-color) }
header .logo img { display: block; margin: 0.75rem auto; width: 100%; max-width: 150px !important; height: auto; }

/* TOPO */
header .topo { background-color: var(--primary-color); padding: 8px 0; font-size: 13px; color: #fff; }
header .topo :is(span, a) { font: 13px var(--primary-font); color: #fff; transition: .3s; }
header .topo a:hover { opacity: 0.75;}


/* MENU */
header #menu > ul { display: flex; align-items: center; justify-content: center; height: 100%; gap: 4px;}
header #menu > ul > li { margin: 0; }
header #menu > ul > li > a { color: var(--light); padding: 11px 15px; }
header #menu > ul > li:hover > a,
header #menu > ul > li > a.active-menu-topo { color: var(--light); }
header #menu > ul > li.dropdown [class*='sub-menu'] { background-color: var(--secondary-color); }
header #menu > ul > li.dropdown [class*='sub-menu'] > li:hover > a,
header #menu > ul > li.dropdown [class*='sub-menu'] > li > a.active-menu-topo { background-color: #fff; color: var(--primary-color); }

/* MENU DROPDOWN ARROWS */

header #menu > ul > li.dropdown:not([data-icon-menu]) > a::after {
    content: "\f107";
    font-family: "FontAwesome";
    color: var(--dark);
    margin-left: 4px;
    font-size: 12px;
    transition: 0.3s;
}

header #menu > ul > li.dropdown:not([data-icon-menu]) > a.active-menu-topo::after,
header #menu > ul > li.dropdown:not([data-icon-menu]):hover > a::after {
    color: var(--primary-color);
}

/* ASIDE */
.aside .aside__btn, .aside .aside__menu h2, .aside .aside__contato h2 { font-size: 14px; background-color: var(--primary-color); padding: 10px; display: block; transition: .3s; color: #fff; }
.aside .aside__btn { color: #fff; text-align: center; border-radius: 3px; }
.aside .aside__btn:hover { background-color: var(--dark); }
.aside .aside__menu h2 a { color: #fff; }
.aside .aside__menu nav ul li { border-left: 2px solid var(--primary-color); margin: 10px 0; padding: 5px; transition: .2s; }
.aside .aside__menu nav ul li a { color: var(--dark); font-size: 12px; border-left: 0; padding: 0; transition: .3s; }
.aside .aside__menu nav ul li:hover { border-left-color: var(--dark); background-color: #f0f0f0; }
.aside .aside__menu nav ul li a.active-menu-aside { color: var(--primary-color); font-weight: bold; }
.aside .aside__contato h2 { text-align: center; }
.aside .aside__contato a { color: var(--dark); text-align: center; display: block; margin: 10px; transition: all .2s ease; }
.aside .aside__contato a:hover { color: #5492c3; }
.aside .fb-page { display: block; margin-bottom: 25px; }


/* =============================== FOOTER =============================== */
footer {
    background-color: var(--primary-color);
    border-top: 5px solid var(--primary-color);
}

footer .address strong {
    color: #fff;
    font-size: 15px;
    display: block;
    margin-bottom: 10px;
}

footer .address :is(a, span) {
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    transition: 0.3s;
}

footer .address__icon {
    font-size: 3em;
    margin: 20px 0;
}

footer .address a:hover {
    opacity: .8;
    color: var(--light);
}

footer .footer__menu{
    position: relative;
}

footer .footer__menu::after{
    content: '';
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 2px;
    background: linear-gradient(to left, transparent, var(--light), transparent);
}

footer .footer__menu nav ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer .footer__menu nav ul li {
    padding: 0 10px;
}

footer .footer__menu nav ul li a {
    color: #fff;
    font-size: 14px;
    transition: 0.3s;
    font-weight: bold;
}

footer .footer__menu nav ul li:not(:last-child):after {
    content: '/';
    color: #fff;
    padding-left: 0.75em;
}

footer .footer__menu nav ul li a:hover {
    color: #DDD;
}

footer .social {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
}

footer .social .social__icons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    font-size: 1.9rem;
    color: #fff;
    text-align: center;
    transition: 0.3s;
}

footer .social .social__icons:hover {
    opacity: .7;
}

.copyright-footer {
    background-color: var(--primary-color);
}

.copyright-footer .selos {
    float: none;
}

.copyright-footer .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

  /* LARGE DEVICE */
@media only screen and (max-width: 992px) {
    footer .address * {
        text-align: center;
    }

    footer .footer__menu nav ul {
        align-items: center;
        justify-content: center;
    }

    footer .social {
        justify-content: center;
    }
}

  /* MEDIUM DEVICE */
@media only screen and (max-width: 768px) {
    footer .footer__menu nav ul {
        display: block;
        width: 100%;
    }
    footer .footer__menu nav ul li:not(:last-child):after {
        display: none;
    }
    footer .footer__menu::after{
      display: none;
    }
    footer .footer__menu nav ul li a {
        width: 100%;
        text-align: center;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        padding: 14px;
        display: block;
    }
}

@media only screen and (max-width: 576px) {
    footer .social .social__icons {
        width: 32px;
        height: 32px;
        font-size: 1.2rem;
    }
}

/* DESTAQUES */

.destaques-mpi {
    margin: 32px 0;
}

.destaques-mpi__title {	margin: 0 0 30px 0;	color: var(--primary-color); }

.destaques-mpi__title span { color: var(--dark); }

/* FIM DESTAQUES */

/* CLIENTES */

.clientes {
    padding: 32px 0;
}

.clientes__title { margin: 0 0 30px 0; }
.clientes__item { display: flex !important; justify-content: center; align-items: center; width: 100%; aspect-ratio: 1/1; padding: 8px; margin: 0 10px; background-color: #fff;}

.clientes__carousel {
    padding: 0 16px;
}

.clientes__image {
	max-width: 100%;
	max-height: 100%;
}

/* FIM CLIENTES */


.sobre-home {
    padding: 50px 0;
}